*{
    font-size: 13px; 
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: content-box;
}

$bg-Light-gray: hsl(0, 0%, 81%);
$bg-Light-grayish-blue: hsl(210, 46%, 95%);
$Moderate-violet: hsl(263, 55%, 52%);;
$Very-dark-grayish-blue: hsl(217, 19%, 35%);
$Very-dark-blackish-blue: hsl(219, 29%, 14%);
$Border-color: #A17ED8;
$bg-jonathan: #49556B;

body {
    margin-top: 6rem;
    background-color: $bg-Light-gray;
    width: 100vw;
}

.main {
    padding:  0rem 1rem 2rem 1rem
}

.bg-violet{
   background-color: $Moderate-violet;
}

.bg-light-gray{
    background-color: $bg-Light-gray;
}

.bg-dark-blackish{
    background-color: $Very-dark-blackish-blue;
}

.card{
    margin-bottom: 2rem;
    border-radius: 2%;
}

.quitation{
    float: right;
    position: absolute;
    z-index: 2;
}

.index-card {
    z-index: 1;
}

.img-profile {
    border: 2px solid $Border-color;
    width: 35px;
}

.name-daniel {
    color: #F5E3FF;
    margin-bottom: 1px;
}

.verified-daniel {
    color: $Border-color;
}

.text-title{
    font-size: 1.8rem;
    padding-right: 2.8rem;
}

.text-paragraph{
    padding-right: 2.9rem;
    
}

.bg-jonathan {
    background-color: $Very-dark-grayish-blue;
}